/** Add css rules here for your application. */

/** Example rules used by the template application (remove for your app) */

/** Formatting specific to FrontEndPanel*/

body {
	background-color:white;
	color: black;
}

/** scroll table styling **/
.scrollTableSpacer
{
	margin-top: 10px;
}

.scrollTableCaption
{
	font-weight: bolder;
}

/* table list header row */

.tableListHeader {
	background-color: white ;
	color: #004387;
	font-style: italic;
}

.tableList {
	border: 1px solid black;
	padding: 2px;
	margin-bottom: 6px;
}

/* table list fields */
.tableListNumericColumn {
	text-align: center;
	/*width: 20em;*/
}

/* table column List*/
.tableIndividualColumn {
	text-align:center;
	font-weight: bold;
	color: white;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.paintItRed {
  color: red;
  font-weight: bold;
  font-size:16px;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

/** PS Scroll Table CSS **/
/*
 * ScrollTable
 */
.gwt-ScrollTable {
  border-color: #aaa;
  border-style: solid;
  border-width: 1px 0px 1px 1px;
}

.gwt-ScrollTable .headerWrapper {
  background: #8bd url(../images/bg_header_gradient.gif) repeat-x bottom left;
}

.gwt-ScrollTable .footerWrapper {
  border-top: 1px solid #aaa;
  background: #8bd url(../images/bg_header_gradient.gif) repeat-x bottom left;
}

.gwt-ScrollTable .dataTable td,
.gwt-ScrollTable .headerTable td,
.gwt-ScrollTable .footerTable td {
  border-color: #aaa;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  white-space: nowrap;
  overflow: hidden;
}

.gwt-ScrollTable .headerTable td,
.gwt-ScrollTable .footerTable td {
  color: #fff;
}
	
.gwt-ScrollTable .dataTable tr.highlighted {
  background: #C3D9FF;
}

.gwt-ScrollTable .dataTable td.highlighted {
  background: #FFFFAA;
  cursor: hand;
  cursor: pointer;
}

.gwt-ScrollTable .dataTable tr.selected td {
  background: #7AA5D6;
}


/**
 * Applied to the options at the bottom of the page.
 */
.gwt-PagingOptions {
  background: #e8eef7;
  border: 1px solid #aaa;
  border-top: none;
}

.gwt-PagingOptions .errorMessage {
	color: red;
}

.pagingOptionsFirstPage,
.pagingOptionsLastPage,
.pagingOptionsNextPage,
.pagingOptionsPrevPage {
  cursor: hand;
  cursor: pointer;
}

.gwt-InlineCellEditor {
  border: 3px solid #7AA5D6;
  padding: 4px;
  background: white;
  overflow: auto;
}
.gwt-InlineCellEditor .accept {
  cursor: pointer;
  cursor: hand;
}
.gwt-InlineCellEditor .cancel {
  cursor: pointer;
  cursor: hand;
}

/** Applied to AbstractOptions */
.AbstractOption-Label {
  font-weight: bold;
  text-align: right;
}

.gwt-ScrollTable .headerTable
{
	text-transform: capitalize;	
}

.gwt-ScrollTable .headerTable .gwt-HTML 
{
	display: inline;
}

/** styling for forms and general box layouts **/
.themeBorder, .themeBorderBackground
{
	border: solid #669cf0 1px;			
}

.themeBackground, .themeBorderBackground
{
	background-color: #d0ecd2;
}

.scrollTableSpacer
{
	margin-top: 10px;
}

.scrollTableCaption
{
	font-weight: bolder;
}

.statusBox, .themePaddedBorder
{
	border: solid #669cf0 1px;
	padding: 5px;
	margin-top: 10px;
	margin-right: 5px;
}

.statusErrorIndicator
{
	color: #f97569;
}

.statusSuccessIndicator
{
	color: #45c368;
}

.standardTableHeader
{
	background-color: #669cf0;
	color:	white;
	font-weight: bolder;
	text-align: center;
}

.standardTable, .horizontalTable
{
	border: 1px solid silver;
	margin-top: 10px;
	border-collapse: collapse;
}

.horizontalHeader
{
	font-weight: bold;
}

.horizontalPrimaryColor
{
	background-color: #fdf7b3;
}

.horizontalSecondaryColor
{
	background-color: #d0ecd2;
}

.formLabel
{
	float: left;
	width: 170px;
	margin-right: 10px;
	text-align: right;
	font-weight: bold;
	clear: left;
}

.formShiftLeft
{
	float: left;
	width: 170px;
	margin-right: 10px;
	text-align: right;
	clear: left;
}

.formShiftRight
{
	margin-left: 180px;
}

.formShiftRightBold
{
	margin-left: 180px;
	font-weight: bold;
}