.highlightRow
{
	color: red;
}

.preAppproveRow
{
	color: green;
}

.preDeniedRow
{
	color: red;
}

.removeStaffMessage
{
	position: absolute;
	left: -2000px;
}
.iconSpacer
{
	margin: 12px;
	opacity: 0.7; 
}
.iconSpacer:HOVER {
	cursor: pointer;
	opacity: 1.0;
}
.loadingSpacer
{
	margin-left: 100px;
	margin-right: 20px;
	float: left;
}
.loadingSpacerContainer
{
	margin-top: 100px;
	text-decoration: blink;
	font-weight: bold;
}

.billingWatermark {
	background-image: url('../fieldcodata/images/accback.png');
	background-repeat: no-repeat;
	background-position: right top;
	
}

.lockedWatermark {
	background-image: url('../fieldcodata/images/locked.png');
	background-repeat: no-repeat;
	background-position: right top;
	height: 520px;
	
}

.bioWatermark {
	background-image: url('../fieldcodata/images/bioback.png');
	background-repeat: no-repeat;
	background-position: right top;
}

.helpWatermark {
	background-image: url('../fieldcodata/images/helpbackground.png');
	background-repeat: no-repeat;
	background-position: left bottom;
	margin:50px;
}

.homeWatermark {
	background-image: url('../fieldcodata/images/homeback.png');
	background-repeat: no-repeat;
	background-color: #c0f8c0;
}

.inventoryWatermark {
	background-image: url('../fieldcodata/images/inventorybg.png');
	background-repeat: no-repeat;
	background-position: right top;
}

.adminWatermark {
	background-image: url('../fieldcodata/images/admin.png');
	background-repeat: no-repeat;
	background-position: right top;
}
.maintenanceWatermark {
	background-image: url('../fieldcodata/images/maintanaceback.png');
	background-repeat: no-repeat;
	background-position: right top;
}

.prospectiveWatermark {
	background-image: url('../fieldcodata/images/prospectiveback.png');
	background-repeat: no-repeat;
	background-position: right top;
}

.vendorWatermark {
	background-image: url('../fieldcodata/images/vendorback.png');
	background-repeat: no-repeat;
	background-position: right top;
}

.standardTableHeader
{
	background-color: #070779;
	color:	white;
	font-weight: bolder;
	opacity: 0.9;
}

.standardTable, .horizontalTable
{
	border: 1px solid silver;
	margin-bottom: 6px;
	border-collapse: collapse;
}

.capitalizeText
{
	text-transform: capitalize;
}

.uppercaseText
{
	text-transform: uppercase;
}

.horizontalHeader
{
	font-weight: bold;
}

.horizontalPrimaryColor
{
	background-color: #fdf7b3;
}

.horizontalSecondaryColor
{
	background-color: #d0ecd2;
}

.formLabel
{
	float: left;
	width: 170px;
	margin-right: 10px;
	text-align: right;
	font-weight: bold;
	clear: left;
}

.formShiftRight
{
	margin-left: 180px;
}


/**
 * Applied to buttons that should have a fixed width.
 */
.sc-FixedWidthButton {
  width: 10em;
}

/**
 * Applied to specific components in Content Widgets.
 */
.cw-BasicPopup-thumb {
  cursor: pointer;
  cursor: hand;
}

@noflip {
  .cw-DictionaryExample-header {
    color: #7aa5d6;
    text-decoration: underline;
    font-weight: bold;
    padding-right: 20px;
  }
}

@noflip {
  .cw-DictionaryExample-data {
    padding-right: 20px;
  }
}

.cw-DockPanel td {
  border: 1px solid #BBBBBB;
  padding: 3px;
}

.cw-FlexTable td {
  border: 1px solid #BBBBBB;
  padding: 3px;
  margin: 5px;
}

.cw-FlexTable-buttonPanel td {
  border: 0px;
}

.cw-FlowPanel-checkBox {
  margin-right: 20px;
}

.cw-RedText {
  color: red;
}

.cw-RichText {
  border: 1px solid #BBBBBB;
  border-spacing: 0px;
}

.cw-StackPanelHeader {
  padding-left: 7px;
  font-weight: bold;
  font-size: 1.4em;
}

